<% layout('layouts/boilerplate') %>
  <div id="cluster-map"></div>
  <h1 class="mt-3">All campgrounds</h1>
  <header class="mb-3">
    <a href="/campgrounds/new">Add a new campground</a>
  </header>
  <% for (let campground of campgrounds) {%>
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <% if (campground.images.length){ %>
            <img crossorigin="anonymous" src="<%= campground.images[0].url %>" class="img-fluid rounded-start"
              alt="image of the campground">
            <% } else{ %>
              <img crossorigin="anonymous"
                src="https://res.cloudinary.com/dzv42c9gd/image/upload/v1683113251/Yelpcamp/ozhrdntuc8abdyvdgfai.jpg"
                class="img-fluid rounded-start" alt="image of the campground">
              <% } %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              <%= campground.title %>
            </h5>
            <p class="card-text">
              <%= campground.description %>
            </p>
            <p class="card-text"><small class="text-muted">
                <%= campground.location %>
              </small></p>
            <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View <%= campground.title %> </a>
          </div>
        </div>
      </div>
    </div>
    <% } %>
      <script>
        const mapBoxToken = '<%- process.env.MAPBOX_TOKEN %>';
        const campgrounds = { features:<%- JSON.stringify(campgrounds) %>};
      </script>
      <script src="/javascripts/clusterMap.js"></script>